<%- include ("./partials/header.ejs") %>
<div class="homepage-container">
    <h1 id="homepage-heading">TODO LIST</h1>
    <div class="homepage">
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
        <img src="images/check-list2.svg" alt="todo list image" id="homepage-img">
    </div>
</div>

<%- include ("./partials/footer.ejs") %>