<%- include ("./partials/header.ejs") %>

<div class="container">
    <h1>TO-DO LIST<i class="fa fa-angle-double-up"></i></h1>
    <form action="/todo" method="POST">
        <input type="text" name="todo[text]" placeholder="Add New TODO" required>
    </form>
    <ul>
        <%todo.todos.forEach(function(items){%>
        <li data-aos='zoom-in'>

            <!-- <form id="edit_form">
                <span><button id='editor'><i style=" font-size:24px" class="fa fa-edit"></i></button></span>
            </form> -->
            <%=items%>
        </li>
        <%})%>
    </ul>
</div>

<%- include ("./partials/footer.ejs") %>