<%- include ("./partials/header.ejs") %>

<div class="container">
    <h1>TO-DO LIST<i class="fa fa-angle-double-up"></i></h1>
    <form action="/todo" method="POST">
        <input type="text" name="todo[list]" placeholder="Add New TODO" required>
    </form>
    <ul id="list-ul">
        <%todo.todos.forEach(function(items){%>
        <li data-aos='zoom-in' id="list-li">
            <%=items.list%>
        </li>
        <%})%>
    </ul>
</div>

<%- include ("./partials/footer.ejs") %>